header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 12;
}
.header {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 53px;
        
    }
    &__phone {
        a {
            font-weight: 600;
            font-size: 24px;
            color: $text-color;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
        &_mob {
            display: none;
        }
    }

}
.logo {
    width: 163px;
    a {
        img {
            width: 100%;
        }
    }
}
.log {
    display: none;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    &__link {
        color: $main-color;
        text-decoration: none;
        margin: 0 16px;
        font-size: 18px;
        &:hover {
            text-decoration: underline;
        }
    }
}
.hamburger {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    width: 25px;
    height: 15px;
    position: absolute;
    z-index: 10;
    top: 26px;
    left: 26px;
    cursor: pointer;
    span {
        width: 100%;
        height: 2px;
        background: $main-color;
        display: block;
    }
    &_active {
        top: 20px;
        z-index: 14;
        span {
            &:nth-child(1) {
                transform: rotate(45deg) translateY(9px);
                background: #fff;
            }
            &:nth-child(2) {
                display: none;
            }
            &:nth-child(3) {
                transform: rotate(-45deg) translateY(-10px);
                background: #fff;
            }
        }
    }
}